.bg-color {
    color: #28f4f5;
}


.nav {
    flex-wrap: nowrap !important;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    background-color: #424445;
    color: white;
}

#navBtn {
    display: none;
}

#sidebar {
    background-color: #343a40;
    color: white;
    width: 250px;
    position: fixed;
    top: 68px;
    left: 0;
    height: 100vh;
    z-index: 1;
    overflow-y: auto;
    transition: all 0.3s;
}

@media (max-width: 1040px) {
    #sidebar {
        top: 65px;
    }

}

@media (max-width: 768px) {
    #sidebar {
        left: -250px;
        top: 61px;
    }

    #sidebar.show {
        left: 0;
    }
}

#content {
    margin-top: 80px;
    margin-left: 250px;
    z-index: 0;
    padding: 20px;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    #navBtn {
        display: block;
    }

    #content {
        margin-left: 0;
    }
}
